body {
    font-family: 'Kaushan Script', cursive;
    background: url("http://images6.alphacoders.com/407/407038.jpg") no-repeat center center fixed;;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container-custom {
    background: -moz-linear-gradient(top, #299a0b 0%, #299a0b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #299a0b), color-stop(100%, #299a0b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #299a0b 0%, #299a0b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #299a0b 0%, #299a0b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #299a0b 0%, #299a0b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #299a0b 0%, #299a0b 100%); /* W3C */
    margin: 4% auto;
    padding: 3%;
    text-align: center;
    border-radius: 25px;
}

#timer {
    display: inline-block;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 1px black solid;
    text-align: center;
    line-height: 250px;
    margin: 1% 0 1% 0;
    font-size: 48px;
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%); /* W3C */
}

#title {
    text-align: center;
    margin-top: 30px;
    color: #cf0404;
}

.custom-button {
    background: #f00e21;
    background: -webkit-gradient(linear, left top, left bottom, from(#d12626), to(#f00e21));
    background: -webkit-linear-gradient(top, #d12626, #f00e21);
    background: -moz-linear-gradient(top, #d12626, #f00e21);
    background: -ms-linear-gradient(top, #d12626, #f00e21);
    background: -o-linear-gradient(top, #d12626, #f00e21);
    padding: 6px 12px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    text-decoration: none;
    vertical-align: middle;
    border: 1px black solid;
}

.custom-button:hover {
    background: #7a2020;
    color: #ccc;
}

.custom-button:active {
    background: #c10f26;
}

#increase, #decrease {
    font-size: 20px;
    padding: 3px 10px;
}

.guideline {
    text-align: left;
    font-size: 18px;
    margin: 2% auto;
}